:root {
  --dark1-color: #222831;
  --dark2-color: #393E46;
  --dark3-color: #948979;
  --dark4-color: #DFD0B8;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--dark1-color);
  color: var(--dark4-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}

h3 {
  color: var(--dark3-color);
}

button {
  background-color: var(--dark2-color);
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 7px;
  color: aliceblue;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.nav .left {
  width: 30%;
}

.nav .right {
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%
}

.nav .right li {
  cursor: pointer;
}

.hero {

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

.work {
  position: relative;
  cursor: pointer;
  /* bottom: -50px; */
}

.my-works {
  margin-top: 30px;
}

.name {
  font-size: 50px;
  font-weight: 700;
  text-align: center !important;

  display: flex;
  align-items: center;
  justify-content: center;
}

.hero h2 {
  margin-top: -10px;
  font-size: 35px
}

.proj-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}

.project-cards {
  display: flex;
  width: 300px;
  /* height: 350px; */
  align-items: center;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.project-cards:hover {
  background-color: #DFD0B8;
  color: #222831;
  border: 1px solid #DFD0B8 !important;
}

.all-projects {
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 50px;
}

.explore {
  margin-bottom: 20px;
  width: 100px;
  cursor: pointer;
}
.skills {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  
  gap: 20px;
  margin-top: 30px;
}
.list-skill {
  
  padding: 20px;
  border-radius: 20px;
  width: 350px ;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 295px;
  list-style: none;
  cursor: pointer;
  border: none !important;
}

.list-items ul {
  /* list-style: none; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid; */
  margin-left: 30px;
}

.list-title {
  width: 280px;
  margin: 10px auto;
  text-align:center;
  border: 1px solid;
  border-style:dotted;
}



.skill-start {
  margin-top: 70px;
}

.certifications {
  /* border:1px solid; */
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
  justify-content: space-evenly;
  padding: 20px 0px;
}

.certificate {
  border: 1px solid;
  width: 350px;
  /* height:360px; */
  padding-bottom: 20px;
}

.certificate img {
  /* border:1px solid aqua; */
  width: 100%;
}

.pre-certificate {
  display: inline-block;
  margin-top: 15px;
  padding: 8px 12px;
  background-color: var(--dark2-color);
  color: var(--dark4-color);
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
}

.certificateTitle {
  margin-top: 10px;
  font-size: 20px;
}

.certificateInstitution {
  margin-top: 5px;
  font-size: 18px;
  color: var(--dark3-color);
}

.achievement-container {
  margin: auto;
  /* border:1px solid red; */
  width: 50%;
  height: 400px;
}

.contact-containre {
  /* border: 1px solid; */
  display: flex;
}

.form {
  /* border: 1px solid aqua; */
  display: flex;
  padding: 20px;
  width: 100%;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  margin: auto;
}

.one {
  width: 100%;
  border-right: 1px solid;
}

.two {
  margin-left: 30px;
  width: 100%;
  /* text-align: center; */
}

.contact-block {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 20px;
  /* flex-direction: column; */
}

.contact-block label {
  width: 30%;
  vertical-align: top;
}

.contact-block input,
.contact-block textarea {

  border-radius: 7px;
  outline: none;
  border: none;
  color: #DFD0B8;
  padding: 15px;
  border: 1px solid #DFD0B8;
  background-color: #222831;
}

.contact-block input:focus,
.contact-block textarea:focus {
  background-color: #393E46;
}

.contact-block textarea {
  width: 100%;
  height: 100px;
}

.submit-btn {
  all: unset;
  padding: 10px 40px;
  border: 1px solid;
  border-radius: 07px;
  background-color: #393E46;
  width: 30%;
  margin-top: 20px;
  text-align: center;
  cursor: pointer;
}

.icons {
  width: 30px;
  color: #DFD0B8;
  margin-bottom: 50px;
  margin-top: 30px;
}

.icon-container {
  display: flex;
  /* border: 1px solid; */
  align-items: center;
  justify-content: space-around;
  width: 250px;
}
.links a{
  /* display: flex; */
  /* flex-direction: column; */
  color: aliceblue;
  text-decoration: none;
  
}

.links{
  
  display: flex;
  width: 80%;
  gap:100px;
  align-items: center;
  justify-content: space-around;
  
}

.links a:visited{
  color: aliceblue;
}
.links a::before{
  content: "> ";
}
br{
  margin-bottom: 200px;
}
.foot{
  padding: 10px 30px;
  margin-top: 30px;
  background-color: #393e46bc;
  border-radius: 20px;
  
}
.des{
  text-align: center;
  margin-top: 30px;
}

/* Popup container */
.pop-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3.5px);
  z-index: 1000;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* Show / Hide states */
.pop-container.show {
  display: flex;
  opacity: 1;
}

.pop-container.hide {
  opacity: 0;
}

/* Popup box */
.pop-up {
  background-color: #DFD0B8;
  color: #222831;
  padding: 20px 50px;
  width: 70%;
  height: 75%;
  margin: 20px;
  border-radius: 17px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  animation: popIn 0.3s ease-out;
  position: relative;
}

/* Popup content */
.pop-content {
  height: 100%;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pop-up p {
  text-align: justify;
}

/* Animation */
@keyframes popIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.pop-content::-webkit-scrollbar {
  display: none ;
}

@media screen and (max-width:500px) {
  .hero h2 {
    font-size: 25px
  }
.links{
    flex-direction: column;
    gap: 0px;
    align-items: start;
    margin-left: 30px;
}
  .form{
    flex-direction: column;
  }

  .one,.two{
    margin:0px;
  }
  .one{
    border: none;
  }
  .contact-block textarea{
    width: 50%;
  }
  .achievement-container {
    height: 300px;
    width: 90%;
    margin-right: 80px;
  }
  .skills {
    border: none;
  }
  .list-skill{
    width: 70% !important;
  }
  .project-cards{
    width: 85%;
  }
  .all-projects {
    flex-direction: column;
    gap: 30px;
  }

}
@media screen and (max-width:350px) {
  .list-title{
    width: 250px !important;
  }
  
}

