:root {
  --dark1-color: #222831;
  --dark2-color: #393E46;
  --dark3-color: #948979;
  --dark4-color: #DFD0B8;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--dark1-color);
  color: var(--dark4-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
h3{
  color: var(--dark3-color);
}
button{
  background-color: var(--dark2-color);
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 7px;
  color: aliceblue;
}
.nav{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  gap:20px;
}
.nav .left{
  width:30%;
}
.nav .right{
  display: flex;  
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  width:100%
}
.nav .right li{
 cursor: pointer; 
}
.hero{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:100%;
  text-align: center;
}
.work{
  position: relative;
  /* bottom: -50px; */
}
.my-works{
  margin-top: 30px;
}
.name{
  font-size: 50px;
  font-weight: 700;
  text-align: center !important;
  
  display: flex;
  align-items: center;
  justify-content: center;
}
.hero h2{
  font-size:35px
}
.proj-img{
  width:300px;
  height:200px;
  object-fit: cover;
  border-radius: 10px 10px 0px 0px;
}
.project-cards{
  display: flex;
  width: 300px;
  /* height: 350px; */
  align-items: center;
  /* justify-content: space-around; */
  flex-wrap: wrap;
  text-align: center;
  flex-direction: column;
  border: 1px solid;
  border-radius: 10px ;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.project-cards:hover{
  background-color: #DFD0B8;
  color: #222831;
  border:1px solid #DFD0B8 !important;
}
.all-projects{
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  gap:50px;
  flex-wrap: wrap;
  margin-top:50px;
}
.explore{
  margin-bottom: 20px;
  width: 100px;
  cursor: pointer ;
}

.list{
  border: 1px solid;
  padding: 20px;
  border-radius: 20px;
  width: 350px;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  height: 275px;
  list-style: none;
  cursor: pointer;
}
.list-items ul{
  /* list-style: none; */
  display: flex;
  flex-direction: column;
  gap: 20px;
  /* border: 1px solid; */
  margin-left: 30px;
}
.list-title{
  text-align: center;
}
.skills{
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  gap:20px;
  margin-top: 30px;
}
.skill-start{
  margin-top: 70px;
}
@media screen and (max-width:500px) { 
  .hero h2{
    font-size:25px
  }
  .hero{
    /* height: 0vh; */
    
  }
  .all-projects{
    flex-direction: column;
    gap: 30px;
  }
  
}
