:root {
  --dark1-color: #222831;
  --dark2-color: #393E46;
  --dark3-color: #948979;
  --dark4-color: #DFD0B8;
}
html{
  scroll-behavior: smooth;
}
body{
  background-color: var(--dark1-color);
  color: var(--dark4-color);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important;
}
h3{
  color: var(--dark3-color);
}
button{
  background-color: var(--dark2-color);
  outline: none;
  border: none;
  padding: 10px;
  border-radius: 7px;
  color: aliceblue;
}
.nav{
  display:flex;
  align-items: center;
  justify-content: space-evenly;
  gap:20px;
}
.nav .left{
  width:30%;
}
.nav .right{
  display: flex;  
  list-style: none;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
  width:100%
}
.nav .right li{
 cursor: pointer; 
}
.hero{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height:80vh;
}
.work{
  position: relative;
  bottom: -50px;
}
.name{
  font-size: 50px;
  font-weight: 700;
}
.hero h2{
  font-size:35px
}
*{
  /* border:1px solid  */
}